---
title: Home
description: The latest app to help you find new friends with common interests.
image: /images/_screenshot.jpg
bottom_image: 'https://unsplash.it/2000/1322?a=.png'
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">
				Make a new friend today
			</h1>
			<p class="subtext editable">
				PCER -Social Forum helps you find new friends with common interests. Search for a new partner, Interested to contribute in the development of civic, social, environmental , educational, professional, cultural aspects of the industrial town Pimpri-Chinchwad and its adjoining area
			</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Introduce yourself
				</h2>
				<p class="editable">
					Making news friends in the adult world is hard. This is the perfect filter matching you the most interesting people in your area.<br /><br />To gather technical professionals for the assimilation, dissemination , development , introduction , implementation, of knowledge, skills, expertise, professional skills, plans, schemes, related to technology, science of any use, application, development , redevelopment.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Pick your interests
				</h2>
				<p class="editable">
					The more you tell , This Forum is better it gets to know you and matches you with people who share similar interests with you.<br /><br />The forum would Endeavor to improve, develop, add, create, new civic amenities, utilities, facilities, programs, schemes in all areas required today tomorrow and in the envisioned future for At least 50 years of global evolving standard by contributing, ideas, plans, schemes, information , technology, etc constantly &amp; continuously
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Result Oriented Collaboration
				</h2>
				<p class="editable">
					<br />Result oriented, practical approach to solve citizen&rsquo;s problem<br /><br />Collaborate with other departments like Gardening, social forestry for tree plantation which are more oxygen exhaling, strong rooted trees.<br /><br />Create innovative models for water distribution.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">
					Find your buddy today
				</h2>
				<p class="subtext editable">
					It's free, fun and an exciting way to meet new people.
				</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>